openapi: 3.0.0
info:
  title: Lemon Squeezy 7c41 Checkouts API
  description: '

    Welcome to Lemon Squeezy! Whether you''re launching a brand new store, a

    newsletter, or you''re interested in using Lemon Squeezy as your ecommerce

    platform, you can find everything you need to know here.'
  version: 1.0.0
servers:
- url: https://api.lemonsqueezy.com
security:
- bearerAuth: []
tags:
- name: Checkouts
paths:
  /v1/checkouts/ac470bd4-7c41-474d-b6cd-0f296f5be02a:
    get:
      tags:
      - Checkouts
      summary: Lemon Squeezy Retrieve a checkout
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1/checkouts:
    get:
      tags:
      - Checkouts
      summary: Lemon Squeezy List all checkouts
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
      - Checkouts
      summary: Lemon Squeezy Create a checkout
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                data:
                  type: checkouts
                  relationships:
                    store:
                      data:
                        type: stores
                        id: '1'
                    variant:
                      data:
                        type: variants
                        id: '1'
                  attributes:
                    custom_price: 2000
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
