openapi: 3.2.0
info:
  title: Lemon Squeezy Discounts API
  version: '1.0'
  description: 'Operations tagged Discounts across 2 of this provider''s published API definitions: lemon-squeezy-api-openapi.yml, lemon-squeezy-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.lemonsqueezy.com
- url: https://api.lemonsqueezy.com/v1
tags:
- name: Discounts
paths:
  /v1/discounts/1:
    get:
      tags:
      - Discounts
      summary: Lemon Squeezy Retrieve a discount
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      security:
      - bearerAuth: []
    delete:
      tags:
      - Discounts
      summary: Lemon Squeezy Delete a discount
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      security:
      - bearerAuth: []
    servers:
    - url: https://api.lemonsqueezy.com
  /v1/discounts:
    get:
      tags:
      - Discounts
      summary: Lemon Squeezy List all discounts
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      security:
      - bearerAuth: []
    post:
      tags:
      - Discounts
      summary: Lemon Squeezy Create a discount
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                data:
                  type: discounts
                  attributes:
                    name: 10%
                    code: 10PERC
                    amount: 10
                    amount_type: percent
                  relationships:
                    store:
                      data:
                        type: stores
                        id: '1'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      security:
      - bearerAuth: []
    servers:
    - url: https://api.lemonsqueezy.com
  /discounts:
    get:
      operationId: listDiscounts
      tags:
      - Discounts
      summary: List all discounts
      parameters:
      - name: filter[store_id]
        in: query
        schema:
          type: string
      responses:
        '200':
          description: A list of discounts.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/JsonApiCollection'
      security:
      - api_key: []
    post:
      operationId: createDiscount
      tags:
      - Discounts
      summary: Create a discount
      description: Create a percentage or fixed-amount discount code.
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/JsonApiResource'
      responses:
        '201':
          description: The created discount object.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/JsonApiResource'
      security:
      - api_key: []
    servers:
    - url: https://api.lemonsqueezy.com/v1
  /discounts/{id}:
    get:
      operationId: retrieveDiscount
      tags:
      - Discounts
      summary: Retrieve a discount
      parameters:
      - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: A discount object.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/JsonApiResource'
      security:
      - api_key: []
    delete:
      operationId: deleteDiscount
      tags:
      - Discounts
      summary: Delete a discount
      parameters:
      - $ref: '#/components/parameters/ResourceId'
      responses:
        '204':
          description: The discount was deleted.
      security:
      - api_key: []
    servers:
    - url: https://api.lemonsqueezy.com/v1
components:
  schemas:
    JsonApiResourceObject:
      type: object
      description: A single JSON:API resource object.
      properties:
        type:
          type: string
          description: The resource type, e.g. stores, products, subscriptions.
        id:
          type: string
          description: The unique resource ID.
        attributes:
          type: object
          description: The resource's attributes.
          additionalProperties: true
        relationships:
          type: object
          description: Related resources.
          additionalProperties: true
        links:
          type: object
          additionalProperties:
            type: string
    JsonApiCollection:
      type: object
      description: A JSON:API document containing a collection of resource objects.
      properties:
        jsonapi:
          type: object
          properties:
            version:
              type: string
        data:
          type: array
          items:
            $ref: '#/components/schemas/JsonApiResourceObject'
        links:
          type: object
          description: Pagination links (first, last, prev, next).
          additionalProperties:
            type: string
        meta:
          type: object
          properties:
            page:
              type: object
              properties:
                currentPage:
                  type: integer
                from:
                  type: integer
                lastPage:
                  type: integer
                perPage:
                  type: integer
                to:
                  type: integer
                total:
                  type: integer
    JsonApiResource:
      type: object
      description: A JSON:API document containing a single resource object.
      properties:
        jsonapi:
          type: object
          properties:
            version:
              type: string
        data:
          $ref: '#/components/schemas/JsonApiResourceObject'
        links:
          type: object
          additionalProperties:
            type: string
  parameters:
    ResourceId:
      name: id
      in: path
      required: true
      description: The resource ID.
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
    api_key:
      type: http
      scheme: bearer
      bearerFormat: apiKey
      description: Bearer authentication using a Lemon Squeezy API key. Requests must also send Accept and Content-Type headers of application/vnd.api+json.
x-refined-from:
- lemon-squeezy-api-openapi.yml
- lemon-squeezy-openapi.yml
