openapi: 3.0.0
info:
  title: Lemon Squeezy 7c41 Discounts API
  description: '

    Welcome to Lemon Squeezy! Whether you''re launching a brand new store, a

    newsletter, or you''re interested in using Lemon Squeezy as your ecommerce

    platform, you can find everything you need to know here.'
  version: 1.0.0
servers:
- url: https://api.lemonsqueezy.com
security:
- bearerAuth: []
tags:
- name: Discounts
paths:
  /v1/discounts/1:
    get:
      tags:
      - Discounts
      summary: Lemon Squeezy Retrieve a discount
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
      - Discounts
      summary: Lemon Squeezy Delete a discount
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1/discounts:
    get:
      tags:
      - Discounts
      summary: Lemon Squeezy List all discounts
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
      - Discounts
      summary: Lemon Squeezy Create a discount
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                data:
                  type: discounts
                  attributes:
                    name: 10%
                    code: 10PERC
                    amount: 10
                    amount_type: percent
                  relationships:
                    store:
                      data:
                        type: stores
                        id: '1'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
