openapi: 3.0.0
info:
  title: Lemon Squeezy 7c41 Webhooks API
  description: '

    Welcome to Lemon Squeezy! Whether you''re launching a brand new store, a

    newsletter, or you''re interested in using Lemon Squeezy as your ecommerce

    platform, you can find everything you need to know here.'
  version: 1.0.0
servers:
- url: https://api.lemonsqueezy.com
security:
- bearerAuth: []
tags:
- name: Webhooks
paths:
  /v1/webhooks/1:
    get:
      tags:
      - Webhooks
      summary: Lemon Squeezy Retrieve a webhook
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    patch:
      tags:
      - Webhooks
      summary: Lemon Squeezy Update a webhook
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                data:
                  type: webhooks
                  id: '1'
                  attributes:
                    events:
                    - order_created
                    - order_refunded
                    - subscription_created
                    - subscription_updated
                    - subscription_expired
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
      - Webhooks
      summary: Lemon Squeezy Delete a webhook
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1/webhooks:
    get:
      tags:
      - Webhooks
      summary: Lemon Squeezy List all webhooks
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
      - Webhooks
      summary: Lemon Squeezy Create a webhook
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                data:
                  type: webhooks
                  attributes:
                    url: https://mysite.com/webhooks/
                    events:
                    - order_created
                    - subscription_created
                    - subscription_updated
                    - subscription_expired
                    secret: SIGNING_SECRET
                  relationships:
                    store:
                      data:
                        type: stores
                        id: '1'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
