openapi: 3.2.0
info:
  title: Lemon Squeezy Stores API
  version: '1.0'
  description: 'Operations tagged Stores across 2 of this provider''s published API definitions: lemon-squeezy-api-openapi.yml, lemon-squeezy-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.lemonsqueezy.com
- url: https://api.lemonsqueezy.com/v1
tags:
- name: Stores
paths:
  /v1/stores/1:
    get:
      tags:
      - Stores
      summary: Lemon Squeezy Retrieve a store
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      security:
      - bearerAuth: []
    servers:
    - url: https://api.lemonsqueezy.com
  /v1/stores:
    get:
      tags:
      - Stores
      summary: Lemon Squeezy List all stores
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      security:
      - bearerAuth: []
    servers:
    - url: https://api.lemonsqueezy.com
  /stores:
    get:
      operationId: listStores
      tags:
      - Stores
      summary: List all stores
      description: Returns a paginated list of stores connected to the account.
      parameters:
      - $ref: '#/components/parameters/PageNumber'
      - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: A list of stores.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/JsonApiCollection'
      security:
      - api_key: []
    servers:
    - url: https://api.lemonsqueezy.com/v1
  /stores/{id}:
    get:
      operationId: retrieveStore
      tags:
      - Stores
      summary: Retrieve a store
      parameters:
      - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: A store object.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/JsonApiResource'
      security:
      - api_key: []
    servers:
    - url: https://api.lemonsqueezy.com/v1
components:
  schemas:
    JsonApiResourceObject:
      type: object
      description: A single JSON:API resource object.
      properties:
        type:
          type: string
          description: The resource type, e.g. stores, products, subscriptions.
        id:
          type: string
          description: The unique resource ID.
        attributes:
          type: object
          description: The resource's attributes.
          additionalProperties: true
        relationships:
          type: object
          description: Related resources.
          additionalProperties: true
        links:
          type: object
          additionalProperties:
            type: string
    JsonApiResource:
      type: object
      description: A JSON:API document containing a single resource object.
      properties:
        jsonapi:
          type: object
          properties:
            version:
              type: string
        data:
          $ref: '#/components/schemas/JsonApiResourceObject'
        links:
          type: object
          additionalProperties:
            type: string
    JsonApiCollection:
      type: object
      description: A JSON:API document containing a collection of resource objects.
      properties:
        jsonapi:
          type: object
          properties:
            version:
              type: string
        data:
          type: array
          items:
            $ref: '#/components/schemas/JsonApiResourceObject'
        links:
          type: object
          description: Pagination links (first, last, prev, next).
          additionalProperties:
            type: string
        meta:
          type: object
          properties:
            page:
              type: object
              properties:
                currentPage:
                  type: integer
                from:
                  type: integer
                lastPage:
                  type: integer
                perPage:
                  type: integer
                to:
                  type: integer
                total:
                  type: integer
  parameters:
    PageNumber:
      name: page[number]
      in: query
      description: The page of results to return.
      schema:
        type: integer
        minimum: 1
    PageSize:
      name: page[size]
      in: query
      description: The number of records to return per page (max 100).
      schema:
        type: integer
        minimum: 1
        maximum: 100
    ResourceId:
      name: id
      in: path
      required: true
      description: The resource ID.
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
    api_key:
      type: http
      scheme: bearer
      bearerFormat: apiKey
      description: Bearer authentication using a Lemon Squeezy API key. Requests must also send Accept and Content-Type headers of application/vnd.api+json.
x-refined-from:
- lemon-squeezy-api-openapi.yml
- lemon-squeezy-openapi.yml
