openapi: 3.0.0
info:
  title: Lemon Squeezy 7c41 Subscriptions API
  description: '

    Welcome to Lemon Squeezy! Whether you''re launching a brand new store, a

    newsletter, or you''re interested in using Lemon Squeezy as your ecommerce

    platform, you can find everything you need to know here.'
  version: 1.0.0
servers:
- url: https://api.lemonsqueezy.com
security:
- bearerAuth: []
tags:
- name: Subscriptions
paths:
  /v1/subscriptions/1:
    get:
      tags:
      - Subscriptions
      summary: Lemon Squeezy Retrieve a subscription
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    patch:
      tags:
      - Subscriptions
      summary: Lemon Squeezy Update a subscription
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                data:
                  type: subscriptions
                  id: '1'
                  attributes:
                    variant_id: 1
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
      - Subscriptions
      summary: Lemon Squeezy Cancel a Subscription
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1/subscriptions:
    get:
      tags:
      - Subscriptions
      summary: Lemon Squeezy List all subscriptions
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
