openapi: 3.0.0
info:
  title: Lemon Squeezy 7c41 Items API
  description: '

    Welcome to Lemon Squeezy! Whether you''re launching a brand new store, a

    newsletter, or you''re interested in using Lemon Squeezy as your ecommerce

    platform, you can find everything you need to know here.'
  version: 1.0.0
servers:
- url: https://api.lemonsqueezy.com
security:
- bearerAuth: []
tags:
- name: Items
paths:
  /v1/order-items/1:
    get:
      tags:
      - Items
      summary: Lemon Squeezy Retrieve an order item
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1/order-items:
    get:
      tags:
      - Items
      summary: Lemon Squeezy List all order items
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1/subscription-items/1:
    get:
      tags:
      - Items
      summary: Lemon Squeezy Retrieve a subscription item
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    patch:
      tags:
      - Items
      summary: Lemon Squeezy Update a subscription item
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                data:
                  type: subscription-items
                  id: '1'
                  attributes:
                    quantity: 5
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1/subscription-items:
    get:
      tags:
      - Items
      summary: Lemon Squeezy List all subscription items
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1/subscription-items/1/current-usage:
    get:
      tags:
      - Items
      summary: Lemon Squeezy Retrieve a subscription items current usage
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
