openapi: 3.2.0
info:
  title: Lemon Squeezy Subscription API
  description: 'Welcome to Lemon Squeezy! Whether you''re launching a brand new store, a

    newsletter, or you''re interested in using Lemon Squeezy as your ecommerce

    platform, you can find everything you need to know here.'
  version: 1.0.0
servers:
- url: https://api.lemonsqueezy.com
security:
- bearerAuth: []
tags:
- name: Subscription
paths:
  /v1/subscription-items/1:
    get:
      tags:
      - Subscription
      summary: Lemon Squeezy Retrieve a subscription item
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: getV1SubscriptionItems1
      x-operation-id-source: derived
    patch:
      tags:
      - Subscription
      summary: Lemon Squeezy Update a subscription item
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                data:
                  type: subscription-items
                  id: '1'
                  attributes:
                    quantity: 5
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: patchV1SubscriptionItems1
      x-operation-id-source: derived
  /v1/subscription-items:
    get:
      tags:
      - Subscription
      summary: Lemon Squeezy List all subscription items
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: getV1SubscriptionItems
      x-operation-id-source: derived
  /v1/subscription-items/1/current-usage:
    get:
      tags:
      - Subscription
      summary: Lemon Squeezy Retrieve a subscription items current usage
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: getV1SubscriptionItems1CurrentUsage
      x-operation-id-source: derived
  /v1/subscription-invoices/1:
    get:
      tags:
      - Subscription
      summary: Lemon Squeezy Retrieve a subscription invoice
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: getV1SubscriptionInvoices1
      x-operation-id-source: derived
  /v1/subscription-invoices:
    get:
      tags:
      - Subscription
      summary: Lemon Squeezy List all subscription invoices
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: getV1SubscriptionInvoices
      x-operation-id-source: derived
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
