openapi: 3.2.0
info:
  title: Lemon Squeezy Checkouts API
  version: '1.0'
  description: 'Operations tagged Checkouts across 2 of this provider''s published API definitions: lemon-squeezy-api-openapi.yml, lemon-squeezy-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.lemonsqueezy.com
- url: https://api.lemonsqueezy.com/v1
tags:
- name: Checkouts
paths:
  /v1/checkouts/ac470bd4-7c41-474d-b6cd-0f296f5be02a:
    get:
      tags:
      - Checkouts
      summary: Lemon Squeezy Retrieve a checkout
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      security:
      - bearerAuth: []
    servers:
    - url: https://api.lemonsqueezy.com
  /v1/checkouts:
    get:
      tags:
      - Checkouts
      summary: Lemon Squeezy List all checkouts
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      security:
      - bearerAuth: []
    post:
      tags:
      - Checkouts
      summary: Lemon Squeezy Create a checkout
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                data:
                  type: checkouts
                  relationships:
                    store:
                      data:
                        type: stores
                        id: '1'
                    variant:
                      data:
                        type: variants
                        id: '1'
                  attributes:
                    custom_price: 2000
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      security:
      - bearerAuth: []
    servers:
    - url: https://api.lemonsqueezy.com
  /checkouts:
    get:
      operationId: listCheckouts
      tags:
      - Checkouts
      summary: List all checkouts
      parameters:
      - name: filter[store_id]
        in: query
        schema:
          type: string
      - name: filter[variant_id]
        in: query
        schema:
          type: string
      responses:
        '200':
          description: A list of checkouts.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/JsonApiCollection'
      security:
      - api_key: []
    post:
      operationId: createCheckout
      tags:
      - Checkouts
      summary: Create a checkout
      description: Create a custom checkout with prefilled customer data, custom price, product options, and checkout options. Returns a hosted checkout URL.
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/JsonApiResource'
      responses:
        '201':
          description: The created checkout object including its URL.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/JsonApiResource'
      security:
      - api_key: []
    servers:
    - url: https://api.lemonsqueezy.com/v1
  /checkouts/{id}:
    get:
      operationId: retrieveCheckout
      tags:
      - Checkouts
      summary: Retrieve a checkout
      parameters:
      - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: A checkout object.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/JsonApiResource'
      security:
      - api_key: []
    servers:
    - url: https://api.lemonsqueezy.com/v1
components:
  schemas:
    JsonApiResourceObject:
      type: object
      description: A single JSON:API resource object.
      properties:
        type:
          type: string
          description: The resource type, e.g. stores, products, subscriptions.
        id:
          type: string
          description: The unique resource ID.
        attributes:
          type: object
          description: The resource's attributes.
          additionalProperties: true
        relationships:
          type: object
          description: Related resources.
          additionalProperties: true
        links:
          type: object
          additionalProperties:
            type: string
    JsonApiCollection:
      type: object
      description: A JSON:API document containing a collection of resource objects.
      properties:
        jsonapi:
          type: object
          properties:
            version:
              type: string
        data:
          type: array
          items:
            $ref: '#/components/schemas/JsonApiResourceObject'
        links:
          type: object
          description: Pagination links (first, last, prev, next).
          additionalProperties:
            type: string
        meta:
          type: object
          properties:
            page:
              type: object
              properties:
                currentPage:
                  type: integer
                from:
                  type: integer
                lastPage:
                  type: integer
                perPage:
                  type: integer
                to:
                  type: integer
                total:
                  type: integer
    JsonApiResource:
      type: object
      description: A JSON:API document containing a single resource object.
      properties:
        jsonapi:
          type: object
          properties:
            version:
              type: string
        data:
          $ref: '#/components/schemas/JsonApiResourceObject'
        links:
          type: object
          additionalProperties:
            type: string
  parameters:
    ResourceId:
      name: id
      in: path
      required: true
      description: The resource ID.
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
    api_key:
      type: http
      scheme: bearer
      bearerFormat: apiKey
      description: Bearer authentication using a Lemon Squeezy API key. Requests must also send Accept and Content-Type headers of application/vnd.api+json.
x-refined-from:
- lemon-squeezy-api-openapi.yml
- lemon-squeezy-openapi.yml
