openapi: 3.2.0
info:
  title: Lemon Squeezy Usage API
  description: '

    Welcome to Lemon Squeezy! Whether you''re launching a brand new store, a

    newsletter, or you''re interested in using Lemon Squeezy as your ecommerce

    platform, you can find everything you need to know here.'
  version: 1.0.0
servers:
- url: https://api.lemonsqueezy.com
security:
- bearerAuth: []
tags:
- name: Usage
paths:
  /v1/subscription-items/1/current-usage:
    get:
      tags:
      - Usage
      summary: Lemon Squeezy Retrieve a subscription items current usage
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1/usage-records/1:
    get:
      tags:
      - Usage
      summary: Lemon Squeezy Retrieve a usage-record
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1/usage-records:
    get:
      tags:
      - Usage
      summary: Lemon Squeezy List all usage records
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
      - Usage
      summary: Lemon Squeezy Create a usage record
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                data:
                  type: usage-records
                  attributes:
                    quantity: 1
                    action: increment
                  relationships:
                    subscription-item:
                      data:
                        type: subscription-items
                        id: '1'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
