openapi: 3.2.0
info:
  title: Lemon Squeezy Orders API
  version: '1.0'
  description: 'Operations tagged Orders across 2 of this provider''s published API definitions: lemon-squeezy-api-openapi.yml, lemon-squeezy-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.lemonsqueezy.com
- url: https://api.lemonsqueezy.com/v1
tags:
- name: Orders
paths:
  /v1/orders/1:
    get:
      tags:
      - Orders
      summary: Lemon Squeezy Retrieve an order
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      security:
      - bearerAuth: []
    servers:
    - url: https://api.lemonsqueezy.com
  /v1/orders:
    get:
      tags:
      - Orders
      summary: Lemon Squeezy List all orders
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      security:
      - bearerAuth: []
    servers:
    - url: https://api.lemonsqueezy.com
  /orders:
    get:
      operationId: listOrders
      tags:
      - Orders
      summary: List all orders
      parameters:
      - name: filter[store_id]
        in: query
        schema:
          type: string
      - name: filter[user_email]
        in: query
        schema:
          type: string
      responses:
        '200':
          description: A list of orders.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/JsonApiCollection'
      security:
      - api_key: []
    servers:
    - url: https://api.lemonsqueezy.com/v1
  /orders/{id}:
    get:
      operationId: retrieveOrder
      tags:
      - Orders
      summary: Retrieve an order
      parameters:
      - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: An order object.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/JsonApiResource'
      security:
      - api_key: []
    servers:
    - url: https://api.lemonsqueezy.com/v1
  /orders/{id}/refund:
    post:
      operationId: refundOrder
      tags:
      - Orders
      summary: Issue an order refund
      parameters:
      - $ref: '#/components/parameters/ResourceId'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/JsonApiResource'
      responses:
        '200':
          description: The refunded order object.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/JsonApiResource'
      security:
      - api_key: []
    servers:
    - url: https://api.lemonsqueezy.com/v1
  /orders/{id}/generate-invoice:
    post:
      operationId: generateOrderInvoice
      tags:
      - Orders
      summary: Generate an order invoice
      parameters:
      - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: A signed invoice download URL.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/JsonApiResource'
      security:
      - api_key: []
    servers:
    - url: https://api.lemonsqueezy.com/v1
components:
  schemas:
    JsonApiResourceObject:
      type: object
      description: A single JSON:API resource object.
      properties:
        type:
          type: string
          description: The resource type, e.g. stores, products, subscriptions.
        id:
          type: string
          description: The unique resource ID.
        attributes:
          type: object
          description: The resource's attributes.
          additionalProperties: true
        relationships:
          type: object
          description: Related resources.
          additionalProperties: true
        links:
          type: object
          additionalProperties:
            type: string
    JsonApiCollection:
      type: object
      description: A JSON:API document containing a collection of resource objects.
      properties:
        jsonapi:
          type: object
          properties:
            version:
              type: string
        data:
          type: array
          items:
            $ref: '#/components/schemas/JsonApiResourceObject'
        links:
          type: object
          description: Pagination links (first, last, prev, next).
          additionalProperties:
            type: string
        meta:
          type: object
          properties:
            page:
              type: object
              properties:
                currentPage:
                  type: integer
                from:
                  type: integer
                lastPage:
                  type: integer
                perPage:
                  type: integer
                to:
                  type: integer
                total:
                  type: integer
    JsonApiResource:
      type: object
      description: A JSON:API document containing a single resource object.
      properties:
        jsonapi:
          type: object
          properties:
            version:
              type: string
        data:
          $ref: '#/components/schemas/JsonApiResourceObject'
        links:
          type: object
          additionalProperties:
            type: string
  parameters:
    ResourceId:
      name: id
      in: path
      required: true
      description: The resource ID.
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
    api_key:
      type: http
      scheme: bearer
      bearerFormat: apiKey
      description: Bearer authentication using a Lemon Squeezy API key. Requests must also send Accept and Content-Type headers of application/vnd.api+json.
x-refined-from:
- lemon-squeezy-api-openapi.yml
- lemon-squeezy-openapi.yml
