openapi: 3.2.0
info:
  title: Lemon Squeezy 7c41 Licenses API
  description: '

    Welcome to Lemon Squeezy! Whether you''re launching a brand new store, a

    newsletter, or you''re interested in using Lemon Squeezy as your ecommerce

    platform, you can find everything you need to know here.'
  version: 1.0.0
servers:
- url: https://api.lemonsqueezy.com
security:
- bearerAuth: []
tags:
- name: Licenses
paths:
  /v1/licenses/activate:
    post:
      tags:
      - Licenses
      summary: Lemon Squeezy Activate a license key
      description: Activate a license key and receive an instance ID in return.
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                license_key:
                  type: string
                  description: The license key
                instance_name:
                  type: string
                  description: A label for the new instance to identify it in Lemon Squeezy
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1/licenses/validate:
    post:
      tags:
      - Licenses
      summary: Lemon Squeezy Validate a license key
      description: Validate a license key or license key instance.
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                license_key:
                  type: string
                  description: The license key
                instance_id:
                  type: string
                  description: 'If included, validate a license key instance, otherwise a license key. If no `instance_id` is provided, the response will contain `"instance": null`.'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1/licenses/deactivate:
    post:
      tags:
      - Licenses
      summary: Lemon Squeezy Deactivate a license key instance
      description: Deactivate a license key instance.
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                license_key:
                  type: string
                  description: The license key
                instance_id:
                  type: string
                  description: The instance ID returned when activating a license key
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
